
  .contact{
    background-image: url("https://images.hdqwalls.com/wallpapers/beautiful-city-sunset-evening-3t.jpg");
    color: rgba(255, 255, 255, 0.8);
    height:670px;
    margin-top: -45px;
    
  }
  
  
  .csb{
    text-align: center;
   margin-top: 50px;
    color:rgba(255, 255, 255, 0.8);
    padding-top:40px;
    
}
.csb2{
margin-left: 425px;
font-size: 20px;
margin-top: 10px;
}


.cs5{
    margin-top: 40px;
    margin-left: 490px;
}
.cs6{
    width:25px;
    margin: center;
}

.cs9{
    margin-left: -285px;
    text-align: center;
    color:rgb(145, 255, 0)
}
